In [1]:
from glob import glob

for fn in glob('/opt/data/searchable_rolls/*.csv.gz'):
    print(fn)

/opt/data/searchable_rolls/chandigarh.csv.gz
/opt/data/searchable_rolls/haryana.csv.gz
/opt/data/searchable_rolls/himachal.csv.gz

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/opt/data/searchable_rolls/chandigarh.csv.gz')
df

/opt/anaconda3/envs/jupyter/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,index,filename,number,id,elector_name,father_or_husband_name,relationship,house_no,age,sex
0,0,w0010117.pdf,1,PBA9469131,प्रदीप भनोट,एस एन भनोट,िपता,2,60,पुरुष
1,1,w0010117.pdf,2,PBA5154240,नीरज शमार्,िरखी राम,िपता,2,45,मिहला
2,2,w0010117.pdf,3,AXN2315307,हरीश कु मार,िबहारी लाल,िपता,2,37,पुरुष
3,3,w0010117.pdf,4,PBA7503139,देव कु मार सोइ,पृथ्वी राज सोइ,िपता,4,80,पुरुष
4,4,w0010117.pdf,5,PBA8749475,िवक्रम िसंह,बलबीर िसह,िपता,4,53,पुरुष
...,...,...,...,...,...,...,...,...,...,...
585723,585723,w0010139.pdf,1146,AXN0302364,अशोक कु मार कु करेजा,ज्ञान चन्द कुकरेजा,िपता,3100,59,पुरुष
585724,585724,w0010139.pdf,1147,AXN0302349,प्रितभा कु करेजा,अशोक कुमार कुकरेजा,पित,3100,57,मिहला
585725,585725,w0010139.pdf,1148,AXN0302331,जतीन कु करेजा,अशोक कुमार कुकरेजा,िपता,3100,33,पुरुष
585726,585726,w0010139.pdf,1149,AXN0302356,अपारीता कु करेजा,अशोक कुमार कुकरेजा,िपता,3100,31,मिहला
585727,585727,w0010139.pdf,1150,AXN2493674,नुपुर कु करेजा,जितन कुकरेजा,पित,3100,29,मिहला

In [4]:
df.relationship.unique()

array(['िपता', 'पित', '......', 'माता'], dtype=object)

In [5]:
df.age.unique()

array([ 60,  45,  37,  80,  53,  69,  63,  55,  52,  30,  26,  74,  46,
        38,  73,  50,  48,  19,  76,  54,  32,  31,  57,  33,  25,  72,
        66,  58,  36,  68,  51,  23,  27,  24,  61,  47,  40,  91,  64,
        67,  65,  42,  41,  22,  35,  20,  39,  43,  79,  85,  77,  21,
        81,  28,  56,  44,  70,  29,  49,  59,  34,  82,  78,  75,  88,
        62,  86,  92,  83,  71,  89,  87,  90,  84,  96,  93,  94,  97,
        95, 100, 103, 102,  99, 105, 101,  98, 111, 104, 112, 106])

In [6]:
df.sex.unique()

array(['पुरुष', 'मिहला', 'तृतीय'], dtype=object)

In [7]:
df = pd.read_csv('/opt/data/searchable_rolls/haryana.csv.gz')
df

/opt/anaconda3/envs/jupyter/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,index,filename,number,id,elector_name,father_or_husband_name,relationship,house_no,age,sex
0,0,CMB0070145.PDF,1,HR/01/03/0537002,मुखतारी,झन्डू,पित,1,77,मिहला
1,1,CMB0070145.PDF,2,HR/01/03/0537005,मान िसंह,झन्डु,िपता,1,48,पुरुष
2,2,CMB0070145.PDF,3,MVB1341999,जीत रानी,मान िसह,पित,1,43,मिहला
3,3,CMB0070145.PDF,4,UMK0693887,सािहल,मान िसह,िपता,1,21,पुरुष
4,4,CMB0070145.PDF,5,UMK0693895,जीतेश,मान िसह,िपता,1,21,पुरुष
...,...,...,...,...,...,...,...,...,...,...
16839370,16839370,CMB0390076.PDF,954,WCK0805945,परवीन,सुभाष,िपता,651,20,पुरुष
16839371,16839371,CMB0390076.PDF,955,WCK0415216,आशा रानी,ओम परकाश,िपता,652,29,मिहला
16839372,16839372,CMB0390076.PDF,956,WCK0415224,मंजू,ओम परकाश,िपता,652,27,मिहला
16839373,16839373,CMB0390076.PDF,957,WCK0574715,हंसराज,करतार िसह,िपता,672,56,पुरुष
16839374,16839374,CMB0390076.PDF,958,WCK0419655,पु�पा देवी,पला राम,पित,724 k,25,मिहला

In [8]:
df.relationship.unique()

array(['पित', 'िपता', 'माता', '......'], dtype=object)

In [9]:
df.age.unique()

array([ 77,  48,  43,  21,  59,  56,  45,  40,  29,  27,  61,  57,  42,
        38,  35,  30,  67,  62,  22,  26,  70,  44,  41,  34,  31,  36,
        28,  86,  47,  39,  33,  52,  51,  49,  46,  32,  23,  54,  69,
        71,  50,  24,  37,  66,  68,  25,  55,  53,  64,  20,  76,  73,
        19,  72,  96,  78,  63,  58,  74,  80,  65,  60,  93,  83,  84,
        81,  75,  90,  88,  91,  85,  79,  89,  87, 105,  98,  95,  99,
       103,  97,  82, 102,  94,  92, 100, 101, 104, 109, 107, 108, 106,
       112, 110, 111, 121, 116, 117, 113, 128, 115, 118, 114])

In [10]:
df.sex.unique()

array(['मिहला', 'पुरुष', 'अन्य'], dtype=object)

In [11]:
df = pd.read_csv('/opt/data/searchable_rolls/himachal.csv.gz')
df

/opt/anaconda3/envs/jupyter/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,index,filename,number,id,elector_name,father_or_husband_name,relationship,house_no,age,sex
0,0,A0670009.pdf,1,CJP0496224,ीता राम,स त राम,पता,1 ग,74.0,प
1,1,A0670009.pdf,2,HP/01/003/039591,रेखा चौहान,गीता राम,प त,1,65.0,म हला
2,2,A0670009.pdf,3,HP/01/003/039589,तपाल,गीता राम,पता,1,47.0,प
3,3,A0670009.pdf,4,CJP0680702,मला,मोद,प त,1,45.0,म हला
4,4,A0670009.pdf,5,HP/01/004/222174,मलेश,ीत पाल,प त,1 क,44.0,म हला
...,...,...,...,...,...,...,...,...,...,...
4506914,4506862,A0230129.pdf,346,XAS0325480,तारावती,प्रवीण कुमार,पित,89/1,21.0,मिहला
4506915,4506863,A0230129.pdf,347,XAS0325498,ोमल,छलू देवी,माता,81/1 क,18.0,पु ष
4506916,4506864,A0230129.pdf,348,XAS0325506,िशवानी,कम च द,िपता,82/1,19.0,मिहला
4506917,4506865,A0230129.pdf,349,XAS0325514,बबीता,हरीश कुमार,पित,61/3,22.0,मिहला
4506918,4506866,A0230129.pdf,344,XAS0325464,उिमला देवी,संजय द त,पित,110/1,27.0,मिहला

In [12]:
df.relationship.unique()

array([' पता', 'प त', 'माता', 'िपता', 'पित', '*पता', 'लपता', 'रपता',
       'प/त', ',पता', '1पता', 'प4त', '4पता', 'प5त', 'प+त', '(पता', ';पता',
       'प0त', 'प,त', '+पता', ')पता', 'पEत', 'पात', '.पता', "'पता", 'प*त',
       'प.त', '&पता', 'प)त', '-पता', 'वपता', '3पता', 'प-त', 'पंत', 'ेपता',
       'ुपता', 'प3त', 'पूत', 'पुत', 'पवत', 'पडत', '7पता', 'प:त', '0पता',
       'प2त', 'कपता', 'प6त', nan, '/पता', 'प1त', '2पता', '#पता', 'प&त',
       'ैपता', 'पAत', 'पेत', 'पपत', 'प;त', '9पता', 'प<त', 'पीत', '$पता',
       "प'त", 'बपता', 'प(त', '%पता', '5पता', 'प7त', 'Cपता', 'प=त', 'प8त',
       'प$त', '>पता', '!पता', ':पता', 'पोत', 'दपता', 'ंपता', 'तपता',
       'प>त', 'गपता', '<पता', 'जपता', '6पता', 'ीपता', 'टपता', 'Aपता',
       'प9त', '8पता', 'प#त', 'पलत', 'पृत', 'प्त', 'पCत', 'परत', 'सपता',
       'ोपता', 'पDत', '=पता', 'प?त', 'ौपता', 'ापता', 'नपता', 'आपता',
       'ठपता', 'Yपता', 'प%त', '"पता', 'शपता', 'पBत', 'पैत', 'प@त', '?पता',
       '़पता', 'ूपता', 'पँत', 'पबत', 'प!त', 'फपता', 'प"त', 'पFत', 'प[त',
       'पगत', 'पदत', 'पRत', 'पYत', 'Iपता', 'पHत', 'मपता', 'पGत', 'हपता',
       'पःत'], dtype=object)

In [13]:
df.age.unique()

array([ 74.,  65.,  47.,  45.,  44.,  24.,  82.,  57.,  60.,  51.,  42.,
        37.,  39.,  35.,  31.,  72.,  67.,  46.,  40.,  33.,  84.,  79.,
        56.,  49.,  48.,  30.,  29.,  58.,  50.,  77.,  63.,  61.,  53.,
        43.,  70.,  64.,  38.,  62.,  34.,  55.,  23.,  59.,  27.,  75.,
        36.,  32.,  52.,  26.,  25.,  54.,  68.,  22.,  20.,  28.,  41.,
        73.,  21.,  19.,  76.,  69.,  66.,  81.,  78.,  71.,  80.,  86.,
        96.,  97.,  18.,  89.,  95.,  87., 116.,  92.,  90.,  85.,  83.,
        88.,  15.,  94.,  17.,  91.,  93., 114., 100., 102., 101.,  99.,
         3., 103.,   2., 107.,  10., 117., 106.,  98.,   1., 105.,   8.,
         0., 109.,  nan,  11., 104.,  16.,  13., 110.,   9.,   6.,   5.,
        12., 111.,   4.,  14., 108.,   7., 115., 112., 120., 113.])

In [14]:
df.sex.unique()

array(['प', 'म हला', 'पु ष', 'मिहला', 'मLहला', 'प?ुष', 'पु?ष', 'प ष',
       'पु  ष', 'प=ुष', 'मQहला', 'पु=ष', 'पु =ष', 'प6ुष', 'परुूष',
       'मTहला', 'प=ष', 'पु5ष', 'मMहला', 'पBुष', 'म)हला', 'पुBष', 'पAुष',
       'म.हला', 'पुAष', 'मPहला', 'प;ष', 'मNहला', 'प  ष', 'पा ष', 'परूष',
       'पEष', 'मXहला', 'मOहला', 'प:ुष', 'म&हला', 'प9ुष', 'पु9ष', 'प<ुष',
       'पु<ष', 'मFहला', 'मSहला', 'मUहला', 'पDुष', 'पुDष', 'मHहला', 'प;ुष',
       'पु;ष', 'म*हला', 'पु@ष', 'पु @ष', 'पुी ष', 'प:ष', 'प :ष', 'प : ष',
       'प5ष', 'प?ष', 'मWहला', 'प4ुष', 'पु4ष', 'प@ुष', 'प>ुष', 'पु>ष',
       'पु"ष', 'पु:ष', 'मRहला', 'म/हला', 'मKहला', 'पु :ष', 'पु6ष',
       'मJहला', 'मZहला', 'प@ष', 'पु >ष', 'मVहला', nan, 'म-हला', 'पु Bष',
       'प5ुष', 'परामष', 'पAष', 'मलहला', 'म(हला', 'पद<ुष', 'प7ष', 'पBष',
       'पLष', 'म^हला', 'पु Dष', 'म0हला', 'पHुष', 'पुHष', 'म6हला', 'प<ष',
       'म%हला', 'पुं ष', 'पCुष', 'पुCष', 'प8ुष', 'पु8ष', 'प#ष', 'म_हला',
       'म+हला', 'पJष', 'म\\हला', 'पGुष', 'पुGष', 'म]हला', 'पाल ष',
       'प रूष', 'म$हला', "म'हला", 'प\x0bुष', 'म[हला', 'पुKष', 'पु Kष',
       'प-ष', 'मIहला', 'पलAुष', 'पु7ष', 'प 4ुष', 'म?हला', 'म3हला', 'पFष',
       'प9ष', 'पुन ष', 'प>ष', 'प ', 'मGहला', 'पुा>ष', 'पु ?ष', 'पुा<ष',
       'म@हला', 'पुEष', 'पु%ष', 'पुजनष', 'पु 8ष', 'म#हला', 'प\x08ुष',
       'पKष', 'पुजDष', 'पुामष', 'पुज@ष', 'पन ष', 'पEुष', 'पुा;ष', 'पु ;ष',
       'प$ुष', 'पु$ष', 'म,हला', 'पुु ष', 'पो1:ष', 'पु Aष', 'प8ष', 'प 8ष',
       'पIष', 'प Bुष', 'प*ुष', 'म"हला', 'पु*ष', 'पुा?ष', 'पु3ष', 'प3ुष',
       'पी <ष', 'प <ष', 'प 7ष', 'पHष', 'म!हला', 'पुा ष', 'पु!ष', 'म>हला',
       'मजहला', 'पुा=ष', 'पु9 ष', 'पु#ष', 'प\x1bुष', 'प ;ुष', 'प <ुष',
       'पु <ष', 'पCष', 'प4ष', 'मkहला', 'मYहला', 'प+ष', 'पालष', 'प\x04ुष',
       'प,ुष', 'पु,ष', 'पा  ष', 'पन;ष', 'पानष', 'प7ुष', 'पुल ष', 'म5हला',
       'प)ुष', 'पु)ष', 'पDष', 'प :ुष', 'प&ुष', 'पु&ष', 'पव<ष', 'प%ष',
       'पज ष', 'पन', 'पम ष', 'मEहला', 'पुर ष', 'म2हला', 'पुज ष',
       'प\x1dुष', 'म4हला', 'पुा8ष', 'पुI ष', 'प Aष', 'पु दष', 'पवदष',
       'पल ष', 'पुल>ष', 'प >ुष', 'मbहला', 'प"?ुष', 'म:हला', 'म=हला',
       'पुम ष', 'प\x1eुष', 'म1हला', 'परHष', 'प 6ुष', 'प ;ष', 'पुवीष',
       'प @ुष', 'म<हला', 'पुद ष', 'पा9ष', 'पH4ष', 'पुाजष', "प'Dुष",
       'पुक@ष', 'प =ुष', 'पज4ुष', 'पGष', 'पFुष', 'पुFष', 'पोशनष', 'पार ष',
       'प1ुष', 'पु1ष', 'प+ुष', 'पु+ष', 'मAहला', 'मdहला', 'प6ष', 'प\x07ुष',
       'मरहला', 'पु Cष', 'पुयाष', 'पु 6ष', 'पुा:ष', 'प2ुष', 'पु2ष', "प'ष",
       'मaहला', 'प-ुष', 'पु-ष', 'म9हला', 'पुनBष', 'पुतAष', 'प\x17ुष',
       'प >ष', 'प 9ष', 'प 9 ष', 'प?ुहष', 'पु(ष', 'पुज=ष', 'पा <ष',
       'पु76ष', 'मlहला', 'प1ष', 'पुमाष', 'पुम@ष', 'म;हला', 'पR4Iष',
       'पुो<ष', 'पुी5ष', 'पIुष', 'पुIष', 'पर;ष', 'पुा@ष', 'मीहला', 'पी ष',
       'पय ष', 'प\x15ुष', 'प.ुष', 'पु.ष', 'प*ष', 'प,ष', 'पुँ ष', 'प0ुष',
       'पु0ष', 'प_ुष', 'पु_ष', 'मjहला', 'पु 9ष', "प'ुष", "पु'ष",
       'प\x1aुष', 'पुी?ष', 'पा>ष', 'पु Gष', 'माहला', 'पुू ष', 'पा 9ष',
       'प  9ष', 'पुव ष', 'प Gष', 'पुभवष', 'मयहला', 'पRदCष', 'प\x1fुष',
       'पJुष', 'प ?ष', 'पु 7ष', 'पKुष', 'मBहला', 'पुो ष', 'पुाAष',
       'पु "ष', 'प$ष', 'पुौ ष', 'पल?ष', 'पु 5ष', 'पुलष', 'प(ष', 'पुग?ष'],
      dtype=object)